
@keyframes rotation{
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
}

.kaufman__triangle {
  position: absolute;
  background-image: url(../../../../images/triangle.svg);
  background-size: 100% 100%;
  width: 877px;
  height: 877px;
  top: 0px;
  right: -210px;
  z-index: 1;
  animation: rotation 20s linear infinite;
}