.place__title{
  width: 460px;
  height: auto;
  color: #FFF;
  font-family: 'Inter';
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
}

@media screen and (max-width: 1023px) {
  .place__title {
    max-width: 440px;
    font-size: 42px;
    line-height: 1.1;
 }
}

@media screen and (max-width: 767px) {
  .place__title {
   width: 288px;
   height: 35px;
   font-family: 'Inter';
   font-size: 32px;
   font-style: normal;
   font-weight: 900;
   line-height: 35px;
   align-items: flex-start;
   margin: 0;
   padding: 0;
  }
}
