@import url(../__quote-author-subline/khan__quote-author-subline.css);
.khan__quote-author-subline{
    margin: 0;
    margin-bottom: 68px;
    line-height: 1.15;
    font-size: 24px;
    font-style: normal;
}