.page {
  margin: 0 auto;
  padding: 0;
<<<<<<< HEAD
  font-family: "Inter", Arial, Helvetica, sans-serif;
=======
  font-family: 'Inter', Arial, Helvetica, sans-serif;
>>>>>>> 38b13c6 (new)
  background-color: #1f1f1f;
  max-width: 100%;
  max-height: 100%;
}