.places {
  margin: 92px auto;
  width: 984px;
}

@media screen and (max-width: 1279px) {
  .places {
      max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
      max-width: 720px;
<<<<<<< HEAD
      margin-top: 88px;
      margin-left: 24px;
=======
      margin: 88px auto;
>>>>>>> 38b13c6 (new)
  }
}

@media screen and (max-width: 767px) {
  .places {
<<<<<<< HEAD
      margin: 0 auto;
      max-width: 320px;
      margin-top: 64px;
=======
      max-width: 320px;
      margin: 64px auto;
>>>>>>> 38b13c6 (new)
  }
}
