.header__links{
  display: flex;
  padding-bottom: 54px;
  gap: 10px;
  list-style-type: none;
  margin-top: 46px;
  margin-right: 48px;
}

@media screen and (max-width: 1279px) {
  .header__links{
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .header__links{
    margin-right: 84px;
  }
}