.intro__list {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  width: 690px;
  flex-shrink: 0;
  color: #fff;
  font-size: 12px;
<<<<<<< HEAD
  font-family: "Inter", Arial, sans-serif;
=======
  font-family: 'Inter', Arial, sans-serif;
>>>>>>> 38b13c6 (new)
  font-style: normal;
  line-height: 18px;
}

@media screen and (max-width: 1023px) {
  .intro__list {
<<<<<<< HEAD
      margin-left: 24px;
=======
>>>>>>> 38b13c6 (new)
      font-weight: 700;
      margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .intro__list {
      margin: 0;
      width: auto;
  }
}