.intro__list{
  margin-left : 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  width: 690px;
  max-height: 90px;
  flex-shrink: 0;
  color: #FFF;
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .intro__list {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro__list {
    margin-left: 16px;
    width: 288px;
  }
}