.lead{
    color:white;
    margin: 100px auto;
    max-width: 984px;
}

@media screen and (max-width: 1279px) {
  .lead {
    max-width: 928px;
    margin: 0 48px;
  }
}
  
@media screen and (max-width: 1023px) {
  .lead {
    max-width: 768px;
    min-width: 100%;
    margin: 0;
  }
}
  
@media screen and (max-width: 767px) {
  .lead {
    max-width: 320px;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 64px;
  }
}