.cover__subtitle{
  color: white;
  font-family: 'Inter';
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: 22px;
  width: 360px;
  height: 66px;
  margin: 0 auto;
}

.cover__subtitle:hover{
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
    margin-top: 16px;
  }
}