.cover__subtitle{
  font-family: 'Inter', Arial, sans-serif;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: 22px;
  width: 360px;
  height: 66px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
    margin-top: 16px;
  }
}