
.video{
  margin: 0px auto;
  position: relative;
  width: 1050px;
  min-height: 316px;
  z-index: 1;
  bottom: -50px;
}
.video::after{
  position: absolute;
  width: 525px;
  left: 0;
  top:50px;
  z-index: 2;
}