.header__logo {
  margin: 0;
  max-width: 176px;
  min-height: 52px;
  width: 100%;
  margin-top: 28px;
}

@media screen and (max-width: 1023px) {
  .header__logo {
    margin-left: 24px;
 }
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 142px;
    height: 42px;
 }
}