@import url(../__title/feynman__title.css);
.feynman__title {
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
    z-index: 2;
    text-align: center;
    margin: 0 auto;
  }