@import url(../header/header.css); 

.header {
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  overflow:hidden;
}