.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-height: 52px;
    max-width: 1184px;
    margin-bottom: 48px;
  }
  
@media screen and (max-width: 1279px) {
  .header {
    width: auto;
    height: 52px;
    margin-left: 48px;
    margin-right: 48px;
  }
}
  
@media screen and (max-width: 1023px) {
  .header {
    width: 720px;
    height: 52px;
  }
}
  
@media screen and (max-width: 767px) {
  .header {
    margin: 0;
    padding: 0;
    width: 288px;
    width: 100%;
    height: 42px;
    text-align: right;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
   line-height: 20px;
   text-decoration-line: underline;
  }
}