.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 92px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
      grid-template-columns: repeat(3, minmax(300px, 1fr));
      width: 928px;
      height: auto;
      grid-gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
      grid-template-columns: repeat(2, minmax(352px, 1fr));
      width: 720px;
      grid-gap: 16px;
      margin: 88px 24px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
      grid-template-columns: repeat(1, minmax(288px, 1fr));
      max-width: 288px;
      grid-gap: 12px;
      margin-right: 16px;
      margin-top: 64px;
      margin-left: 16px;
      margin-bottom: 64px;
      margin: 64px auto;
  }
}