.footer__link {
  padding: 0;
  margin: 0;
  padding-right: 18px;
  text-decoration: none;
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (max-width: 1023px) {
  .footer__link {
      padding-right: 18px;
  }
}

@media screen and (max-width: 767px) {
  .footer__link {
      font-size: 24px;
      line-height: 24px;
  }
}
