.footer__link{
  padding: 0;
  margin: 0;
  margin-left: 0;
  padding-right: 18px;
  text-decoration: none;
  color: white;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (max-width: 1279px) {
  .footer__links {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 1023px) {
  .footer__link {
    margin-left: 0;
    padding-right: 18px;
  }
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}