.lead__title {
  max-width: 720px;
  color: #FFF;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
  margin-left: 280px;
  margin: 56px auto;
  margin-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .lead__title {
   color: #FFF;
   text-align: center;
   font-family: Inter;
   font-size: 40px;
   font-style: normal;
   font-weight: 900;
   line-height: 44px;
  }
}