.footer__links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .footer__links {
    margin: 0;
    margin-left: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .footer__links {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .footer__links {
    display: block;
    margin-left: 0;
    padding-left: 0;
  }
}