.footer__links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .footer__links {
      margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer__links {
      flex-direction: column;
      margin-left: 16px;
  }
}
