.place__paragraph {
  margin: 0;
  padding: 0;
  color: #fff;
<<<<<<< HEAD
  font-family: "Inter", Arial, sans-serif;
=======
  font-family: 'Inter', Arial, sans-serif;
>>>>>>> 38b13c6 (new)
  font-size: 18px;
  font-style: normal;
  grid-column: 2;
  grid-row: 2/3;
}

@media screen and (max-width: 1279px) {
  .place__paragraph {
      font-weight: 400;
      line-height: 163%;
  }
}


@media screen and (max-width: 1023px) {
  .place__paragraph {
      font-size: 16px;
      max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
      grid-column: 1;
      grid-row: 4;
      max-width: 288px;
      justify-content: flex-start;
      margin-left: 16px;
  }
}
