.place__paragraph{
  color: #FFF;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  grid-column: 2;
  grid-row: 2/3;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
  font-size: 16px;
  line-height: 163%;
  width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    grid-column: 1;
    grid-row: 4;
    width: 288px;
    min-width: 100%;
    justify-content: flex-start;
  }
}