.footer__copyright {
  color:#FFF;
  margin-left: 533px;
}

@media screen and (max-width: 1279px) {
  .footer__copyright {
   color: #FFF;
   font-family: Inter;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
   margin-left: 277px;
  }
}

@media screen and (max-width: 1023px) {
  .footer__copyright {
    color: #FFF;
    text-align: right;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-left: 69px;
  }
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin: 0;
    width: auto;
    max-height: 14px;
    color: #FFF;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-top: 48px;
    margin-right: 118px;
  }
}