.footer__copyright {
  float: right;
  color: #FFF;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (max-width: 1023px) {
  .footer__copyright {
    color: #FFF;
    text-align: right;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-left: 69px;
  }
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin: 0;
    width: auto;
    max-height: 14px;
    color: #FFF;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-top: 48px;
    margin-right: 118px;
  }
}