.footer__copyright {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

@media screen and (max-width: 1279px) {
  .footer__copyright {
      font-size: 14px;
      line-height: 16px;
      justify-self: end;
  }
}

@media screen and (max-width: 1023px) {
  .footer__copyright {
      text-align: right;
  }
}

@media screen and (max-width: 767px) {
  .footer__copyright {
      align-self: flex-start;
      margin-top: 48px;
      margin-bottom: 24px;
  }
}
