.intro__text {
  margin: 0;
  padding: 0;
  width: 690px;
  flex-shrink: 0;
  color: #fff;
  font-size: 16px;
<<<<<<< HEAD
  font-family: "Inter", Arial, sans-serif;
=======
  font-family: 'Inter', Arial, sans-serif;
>>>>>>> 38b13c6 (new)
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
  margin-bottom: 33px;
}

@media screen and (max-width: 1023px) {
  .intro__text {
      width: auto;
<<<<<<< HEAD
      margin-top: 40px;
=======
      margin: 40px auto;
>>>>>>> 38b13c6 (new)
  }
}

@media screen and (max-width: 767px) {
  .intro__text {
<<<<<<< HEAD
      width: auto;
      margin-left: 16px;
      font-size: 16px;
      margin: 32px auto;
=======
      font-size: 16px;
>>>>>>> 38b13c6 (new)
  }
}
