.intro__text{
  width: 690px;
  flex-shrink: 0;
  color: #FFF;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
  margin-bottom: 33px;
}

@media screen and (max-width: 1023px) {
  .intro__text {
    max-width: 720px;
    margin-top: 40px;
    margin-bottom: 33px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro__text {
    max-width: 288px;
    margin-left: 16px;
  }
}