.cover__zatemnenie{
   position: relative;
   width: 1184px;
   height: auto;
   z-index: 1;
   background: #2A2C2F;
}

@media screen and (max-width: 1279px) {
   .cover__zatemnenie {
     width: 100%;
   }
 }