@import url(../__paragraph/two-columns__paragraph.css);
.two-columns__paragraph {
    margin-top: 0;
    line-height: 34px;
    font-size: 24px;
    font-style: normal;
    margin-bottom: 30px;
}
.two-columns__paragraph:last-child {
    margin: 0;
    padding: 0;
}