.intro{
  width: 984px;
  margin: 0 auto;
  margin-top: 92px;
}

@media screen and (max-width: 1279px) {
  .intro {
    max-width: 928px;
    padding: 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    width: 100%;
    margin-top: 64px;
  }
}