@import url(../__buy-link/khan__buy-link.css);
.khan__buy-link{
    color: #2f80ed;
    text-decoration: none;
    line-height: 42px;
    font-size: 30px;
    font-style: normal;
}
.khan__buy-link:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
