.lead__subtitle {
    max-width: 640px;
    margin: 0 auto;
    margin-top: 32px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
      color: #FFF;
      text-align: center;
      font-family: Inter;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
    }
  }