.cover{
  color:white;
  position: relative;
  width: 1184px;
  height: auto;
  margin: 0 auto;
  /*background-image: url(../../image/cover-trains.jpg);*/
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    width: 100%;
    margin-top: 64px;
  }
}
