.cover {
  position: relative;
  width: 1184px;
<<<<<<< HEAD
  height: auto;
=======
  display: flex;
  flex-direction: column;
  max-height: 740px;
>>>>>>> 38b13c6 (new)
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("../../image/cover-trains.jpg");
}

.cover:before {
  position: absolute;
  display: block;
  content: '';
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover:hover:before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover {
      width: 100%;
<<<<<<< HEAD
=======
      min-height: 60vw;
>>>>>>> 38b13c6 (new)
  }
}

@media screen and (max-width: 1023px) {
  .cover {
      margin-top: 90px;
  }
<<<<<<< HEAD
}

@media screen and (max-width: 767px) {
  .cover {
      max-width: 100%;
      margin-top: 64px;
  }
}

=======
}
>>>>>>> 38b13c6 (new)
