.place__link {
  margin: 0;
  padding: 0;
  color: #fff;
<<<<<<< HEAD
  font-family: "Inter", Arial, sans-serif;
=======
  font-family: 'Inter', Arial, sans-serif;
>>>>>>> 38b13c6 (new)
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: underline;
  padding-bottom: 48px;
  opacity: 1;
}

.place__link:hover {
  opacity: 0.8;
}
