.lead__image{
  width: 100%;
  margin: 64px auto 0;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    max-width: 928px;
    min-width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .lead__image {
    min-width: 100%;
  }
}
  
@media screen and (max-width: 767px) {
  .lead__image {
    margin-top: 40px;
    min-width: 100%;
  }
}