.cover__overlay{
  padding: 0;
  margin: 0 auto;
  background-image: url(../../../image/cover-trains.jpg);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  max-width: 1184px;
  height: 740px;
  z-index: 3;
}

.cover__overlay:hover{
  /*background: rgba(42, 44, 47, 0.1);
  background: rgba(42, 44, 47, 0.1) url(../../../image/cover-trains.jpg);
  #2A2C2F=rgb(42, 44, 47)
  */
  background-image: linear-gradient(rgba(42, 44, 47, 0.5), rgba(42, 44, 47, 0.5)), url(../../../image/cover-trains.jpg);
}


@media screen and (max-width: 1279px) {
  .cover__overlay {
    width: 100%;
    height: 640px;
    margin-left: 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    width: 100%;
    height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
   width: 100%;
   height: auto;
   /*object-fit: cover;*/
  }
}