.cover__overlay{
  padding: 0;
  margin: 0 auto;
  background-image: url(../../../image/cover-trains.jpg);
  background-color: transparent; 
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  max-width: 1184px;
  height: 740px;
}

.cover__overlay:hover{
  opacity: 0.5;
}

.cover__overlay:hover{
  color: #fff;
  text-shadow: 3px 3px 5px rgba(0,0,0,0.8);
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    width: 100%;
    height: 640px;
    margin-left: 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    width: 100%;
    height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
   width: 100%;
   height: auto;
   /*object-fit: cover;*/
  }
}