.lead__caption{
width: 158px;
height: 14px;
font-weight: 400;
font-size: 10px;
line-height: 14px;
letter-spacing: 1.5px;
text-transform: uppercase;
margin-left: 0;
}

@media screen and (max-width: 767px) {
    .lead__caption{
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-left:16px;
  }
}