.cover__title{
  color: white;
  text-align: center;
  font-family: 'Inter';
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  width: 560px;
  height: 152px;
  margin: 0 auto;
}

.cover__title:hover{
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

@media screen and (max-width: 767px) {
  .cover__title {
    width: 288px;
    height: 70px;
    font-size: 32px;
    line-height: 35px;
    border: 1px solid red;
    margin-top: 33px;
    text-align: center;
  }
}