.place {
  margin: 64px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 48px;
  grid-row-gap: 40px;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(440px 1fr));
    grid-gap: 48px 32px;
    margin-bottom: 84px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(340px 1fr));
    grid-gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    width: 320px;
    min-width: 100%;
    margin-top: 50px;
    grid-column-gap: 32px;
  }
}


