.place {
  margin: 0 auto;
  display: grid;
<<<<<<< HEAD
  grid-template-columns: repeat(auto-fit, minmax(456px 1fr));
=======
  grid-template-columns: repeat(auto-fit, minmax(456px, 1fr));
>>>>>>> 38b13c6 (new)
  column-gap: 48px;
  grid-row-gap: 40px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1279px) {
  .place {
<<<<<<< HEAD
      grid-template-columns: repeat(auto-fit, minmax(440px 1fr));
      column-gap: 32px;
      grid-row-gap: 48px;
      margin-bottom: 84px;
=======
      grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
      column-gap: 32px;
      grid-row-gap: 48px;
      margin-bottom: 80px;
>>>>>>> 38b13c6 (new)
  }
}

@media screen and (max-width: 1023px) {
  .place {
<<<<<<< HEAD
      grid-template-columns: repeat(auto-fit, minmax(340px 1fr));
      column-gap: 28px;
      margin-bottom: 72px;
=======
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
      column-gap: 28px;
      margin-bottom: 73px;
  }
  .place:last-child{
    margin-bottom: 0;
>>>>>>> 38b13c6 (new)
  }
}

@media screen and (max-width: 767px) {
  .place {
      max-width: 320px;
      min-width: 100%;
      margin-top: 50px;
      grid-column-gap: 32px;
      margin-bottom: 50px;
  }
}