.footer {
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1184px;
  max-height: 18px;
  padding-top: 92px;
  padding-bottom: 24px;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .footer {
    margin: 0;
    padding: 0;
    padding-bottom: 24px;
    width: 100%;
    margin-top: 92px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    width: 100%;
    height: 18px;
    margin: 0;
    margin-top: 88px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    max-width: 186px;
    margin-left: 16px;
    justify-content: flex-start;
    padding-bottom: 300px;
  }
}