.place__url-heading {
  margin: 0;
  padding: 0;
  color: #aaa;
<<<<<<< HEAD
  font-family: "Inter", Arial, sans-serif;
=======
  font-family: 'Inter', Arial, sans-serif;
>>>>>>> 38b13c6 (new)
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
  margin-bottom: 12px;
}