.place__url-heading {
  margin: 0;
  padding: 0;
  color: #aaa;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
  .place__url-heading {
      margin-bottom: 12px;
  }
}