@import url(../__column-links/footer__column-links.css);
.footer__column-links {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 16px;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
}