.place__website{
  width: 456px;
  height: 46px;
  grid-row: 1;
  grid-column: 2;
  align-self: flex-end;
}

@media screen and (max-width: 1023px) {
  .place__website {
    width: 352px; 
  }
}

@media screen and (max-width: 767px) {
  .place__website {
    width: 288px;
    grid-column: 1;
    grid-row: 2;
  }
}