.header__lang-link {
  margin: 0 auto;
  padding: 0;
  color: #FFF;
  text-align: right;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  margin-left: 18px;
}

.header__lang-link:hover{
  opacity: 0.5;
}