.intro__title{
  width: 690px;
  height: 58px;
  color: #FFF;
  font-size: 54px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1023px) {
  .intro__title{
   max-width: 720px;
   height: 58px;
   padding-bottom: 40px;
   margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro__title{
  width: auto;
  margin: 0 16px;
  height: 70px;
  padding-bottom: 40px;
  }
}