.intro__title {
  margin: 0;
  padding: 0;
  width: 690px;
  color: #fff;
  font-size: 54px;
<<<<<<< HEAD
  font-family: "Inter", Arial, sans-serif;
=======
  font-family: 'Inter', Arial, sans-serif;
>>>>>>> 38b13c6 (new)
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1023px) {
  .intro__title {
      max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
      width: auto;
      margin: 0 auto;
<<<<<<< HEAD
  }
}
=======
      font-size: 32px;
      line-height: 35px;
  }
}
>>>>>>> 38b13c6 (new)
