.intro__title {
  margin: 0;
  padding: 0;
  width: 690px;
  color: #fff;
  font-size: 54px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1023px) {
  .intro__title {
      max-width: 720px;
      margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
      width: auto;
      margin: 0 auto;
  }
}
